<!DOCTYPE html>
<html>
<head>
<title>music generation</title>
<script type="text/javascript" src="static/jquery.js"></script>
</head>
<br>

<br>  by moran & galin </br>

<br>about as</br>
<br>bla bla bla blabla bla bla blabla bla bla blabla bla bla bla<br>
<br>bla bla bla blabla bla bla blabla bla bla blabla bla bla bla<br>
<br>bla bla bla blabla bla bla blabla bla bla blabla bla bla bla<br>
====================================================================
<br>our best samples</br>

<br>
<audio controls="controls"  src="/static/music/generated.mp3"></audio>
</br>
<br>
<audio controls="controls"  src="/static/music/generated.mp3"></audio>
</br>
<br>
<audio controls="controls"  src="/static/music/generated.mp3"></audio>
</br>
====================================================================
<form action="/" method="post">
<br> try generate yourself! it may take sometime</br>
<br><button type="button"> generate!</button></br>
</form>

<!--<audio controls>-->
<!--  <source src="horse.ogg" type="audio/ogg">-->
<!--  <source src="horse.mp3" type="audio/mpeg">-->
<!--</audio>-->
<br><button type="button"> download the song!</button><br>


</body>
</html>








